<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1>LOGIN</h1>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" />
          </div>
          <button class="btn btn-primary btn-lg full-width-button">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .full-width-button {
    width: 100%;
    display: block;
  }
  .form-group label {
    margin-bottom: 5px;
  }
  .form-group:not(:last-child) {
    margin-bottom: 20px;
  }
</style>
